* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.user-login-form .close-user-login:after {
  content: "\e907"; }

.user-login-form .submit-button-with-icon .color-and-icon:after {
  content: "\e90b"; }

.user-login-form {
  -webkit-transition: margin-bottom 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: margin-bottom 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: margin-bottom 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  float: left; }
  .topbar-is-open .user-login-form {
    margin-bottom: 45px; }
  .user-login-form .close-user-login {
    position: relative;
    width: 24px;
    height: 24px;
    float: right;
    margin-bottom: 30px;
    cursor: pointer; }
    .user-login-form .close-user-login:after {
      font-family: 'icomoon';
      font-size: 54px;
      color: rgba(38, 38, 38, 0.54);
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      display: block;
      position: absolute;
      top: 0; }
    .user-login-form .close-user-login:after {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
      -moz-transition: color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
      top: 50%;
      left: 50%; }
    .user-login-form .close-user-login:hover:after {
      color: #4d898e; }
  .user-login-form .form-item {
    width: 100%;
    float: left;
    margin: 0 0 15px; }
    .user-login-form .form-item > label {
      display: none; }
  .user-login-form .submit-button-with-icon .color-and-icon {
    position: relative;
    -webkit-transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1), color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1), color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1), color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
    float: left;
    border-radius: 5px;
    padding: 20px 80px 14px 15px;
    background-color: #f66d70;
    color: #fff;
    position: absolute;
    background-color: #f66d70; }
    .user-login-form .submit-button-with-icon .color-and-icon:after {
      font-family: 'icomoon';
      font-size: 54px;
      color: #fff;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      display: block;
      position: absolute;
      top: 0; }
    .user-login-form .submit-button-with-icon .color-and-icon:after {
      -webkit-transition: color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
      -moz-transition: color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
      right: 7px; }
    .user-login-form .submit-button-with-icon .color-and-icon:hover {
      background-color: #808285;
      color: #fff; }
      .user-login-form .submit-button-with-icon .color-and-icon:hover:after {
        color: #fff; }
  .user-login-form .submit-button-with-icon:hover .color-and-icon {
    background-color: #808285; }
  .user-login-form .form-links {
    -webkit-transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    bottom: 10px;
    right: 0;
    opacity: 0; }
    .topbar-is-open .user-login-form .form-links {
      -webkit-transition: opacity 300ms 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
      -moz-transition: opacity 300ms 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: opacity 300ms 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
      opacity: 1; }
    .user-login-form .form-links ul {
      margin: 0;
      list-style: none; }
      .user-login-form .form-links ul li {
        float: right;
        margin: 0; }
        .user-login-form .form-links ul li a {
          color: rgba(38, 38, 38, 0.54); }
          .user-login-form .form-links ul li a:hover {
            color: #4d898e; }

/*# sourceMappingURL=form-user-login.css.map */
