@import '../base.scss';

//
// Extra facetbrowsers
// @TODO should these be removed from the panel?
.primary-content .pane-ding-facetbrowser, 
.primary-content .pane-search-backends {
  display: none;
}

// ==========================================================================
// Panel Layouts
// ==========================================================================

.panel-pane {
  .pane-content {
    
    
    // Ding frontpage layout
    .frontpage-layout {
      .panel-pane {
        @include linear-gradient(to top, $white 30px, $grey-light 100%);
        .panel-pane-inner {
          @include wrapper;
          position: relative; // Is set to relative to position absolute elements inside panels correct
          padding: 40px 0 30px;
        }
      }
    }
    // Ding2 Site template
    .ding2-site-template {
      .panel-pane {
        @include linear-gradient(to top, $white 30px, $grey-light 100%);
        .panel-pane-inner {
          @include wrapper;
          position: relative; // Is set to relative to position absolute elements inside panels correct
          padding: 40px 0 30px;
        }
      }
    }
    
    // Default panel layout (Two sidebars, content in middle)
    .default-panel-layout {
      .left-and-main-content {
        @include linear-gradient(to top, $white 30px, $grey-light 100%);
        padding: 40px 0 30px;
        .layout-wrapper {
          @include wrapper;
          .secondary-content {
            @include span-columns(4);
            
            @include media($tablet) {
             @include span-columns(12); 
             padding-bottom: 15px;
            }
          }
          .primary-content {
            @include span-columns(8);
            float: right;
            @include omega;
            
            @include media($tablet) {
             @include span-columns(12); 
            }
          }
        }
      }
      .attachments-wrapper {
        .panel-pane {
          @include linear-gradient(to top, $white 30px, $grey-light 100%);
          .panel-pane-inner {
            @include wrapper;
            position: relative; // Is set to relative to position absolute elements inside panels correct
            padding: 40px 0 30px;
          }
        }
      }
    }
  }
}