@import '../contrib/neat/neat-helpers';

// ==========================================================================
// Change the grid settings
// ==========================================================================
$column: 68px;
$gutter: 28px;
$grid-columns: 12;
$max-width: 1124px;