@import 'base';

// ==========================================================================
// User login panel
// ==========================================================================

.pane-user-login {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 65px 0 5px;
}