@import 'base';

.footer {
  background-color: $charcoal;
  color: $white;
  a {
    @include transition(color $speed $ease);
    color: $white;
    &:hover {
      color: $white-opacity-dark;
    }
  }
  .footer-inner {
    @include outer-container;
    padding: 50px 0 100px;
    > .panel-pane {
      @include span-columns(3);
      @include omega(4n);
      .pane-title {
        @include font('header-small');
      }
    }
  }
  // When topbar is open
  .topbar-is-open & {
    opacity: 0.5;
    pointer-events: none;
  }
}