@import "base.scss";

@font-face {
  font-family: 'icomoon';
  src:    url('../../fonts/icomoon/icomoon.eot?1i93lg');
  src:    url('../../fonts/icomoon/icomoon.eot?1i93lg#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon/icomoon.ttf?1i93lg') format('truetype'),
      url('../../fonts/icomoon/icomoon.woff?1i93lg') format('woff'),
      url('../../fonts/icomoon/icomoon.svg?1i93lg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}