* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.site-header .topbar {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f2f2;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3); }
  .toolbar .site-header .topbar {
    top: 65px; }
  .site-header .topbar .topbar-inner {
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: height 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: height 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: height 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
    height: 64px; }
    .site-header .topbar .topbar-inner:after {
      content: "";
      display: table;
      clear: both; }
    .site-header .topbar .topbar-inner .pane-user-login {
      float: left;
      display: block;
      margin-right: 2.4911%;
      width: 31.6726%;
      margin-right: 0; }
      .site-header .topbar .topbar-inner .pane-user-login:last-child {
        margin-right: 0; }
      .site-header .topbar .topbar-inner .pane-user-login form .form-actions {
        float: left;
        display: block;
        margin-right: 7.86517%;
        width: 46.06742%;
        margin-right: 0;
        float: right; }
        .site-header .topbar .topbar-inner .pane-user-login form .form-actions:last-child {
          margin-right: 0; }
    .site-header .topbar .topbar-inner .logo {
      float: left;
      padding: 20px 0; }
    .site-header .topbar .topbar-inner .topbar-menu {
      position: absolute;
      z-index: 3;
      bottom: 0;
      right: 0; }
.site-header .header-wrapper {
  width: 100%;
  float: left; }
  .site-header .header-wrapper .header-inner {
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto; }
    .site-header .header-wrapper .header-inner:after {
      content: "";
      display: table;
      clear: both; }
    .site-header .header-wrapper .header-inner .js-mobile-user-menu {
      display: none; }
.site-header > .navigation-wrapper {
  position: fixed;
  z-index: 299;
  top: 64px;
  left: 0;
  width: 100%;
  background-color: #4d898e;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3); }
  .toolbar .site-header > .navigation-wrapper {
    top: 129px; }
  .site-header > .navigation-wrapper .navigation-inner {
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto; }
    .site-header > .navigation-wrapper .navigation-inner:after {
      content: "";
      display: table;
      clear: both; }
    .site-header > .navigation-wrapper .navigation-inner .pane-menu-block-1 {
      float: left;
      display: block;
      margin-right: 2.4911%;
      width: 57.29537%; }
      .site-header > .navigation-wrapper .navigation-inner .pane-menu-block-1:last-child {
        margin-right: 0; }
    .site-header > .navigation-wrapper .navigation-inner .pane-search-form {
      float: left;
      display: block;
      margin-right: 2.4911%;
      width: 40.21352%;
      margin-right: 0;
      padding: 15px 0; }
      .site-header > .navigation-wrapper .navigation-inner .pane-search-form:last-child {
        margin-right: 0; }
      .site-header > .navigation-wrapper .navigation-inner .pane-search-form .form-item-search-block-form {
        width: 84.95575%;
        float: left; }
        .site-header > .navigation-wrapper .navigation-inner .pane-search-form .form-item-search-block-form input[type="text"] {
          -webkit-transition: width 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
          -moz-transition: width 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: width 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
          border-radius: 5px 0px 0px 5px;
          width: 46.06742%;
          float: right; }
          .site-header > .navigation-wrapper .navigation-inner .pane-search-form .form-item-search-block-form input[type="text"]:focus {
            width: 100%; }
      .site-header > .navigation-wrapper .navigation-inner .pane-search-form .form-actions {
        width: 15.04425%;
        float: left; }
        .site-header > .navigation-wrapper .navigation-inner .pane-search-form .form-actions input[type="submit"] {
          border-radius: 0px 5px 5px 0px; }

/*# sourceMappingURL=header.css.map */
