* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(-360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
#ui-datepicker-div {
  border: none;
  background-color: #f1f2f2;
  padding: 5px 8px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3); }
  #ui-datepicker-div .ui-datepicker-header {
    border-radius: 0;
    border: none;
    background: none;
    height: 30px;
    border-bottom: 1px solid #e5e5e5; }
    #ui-datepicker-div .ui-datepicker-header .ui-datepicker-title {
      width: 100%;
      height: 30px;
      padding: 0 25px 0 25px;
      margin: 3px 0 0 0; }
      #ui-datepicker-div .ui-datepicker-header .ui-datepicker-title select {
        font-family: "FaktPro-Normal", sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        cursor: pointer;
        color: #262626;
        line-height: normal;
        position: static;
        height: auto;
        padding: 0 10px; }
    #ui-datepicker-div .ui-datepicker-header .ui-corner-all {
      cursor: pointer; }
      #ui-datepicker-div .ui-datepicker-header .ui-corner-all .ui-icon {
        background-image: none;
        border-radius: 50%;
        background: #4d898e; }
        #ui-datepicker-div .ui-datepicker-header .ui-corner-all .ui-icon:before {
          font-family: 'icomoon';
          text-indent: 0px;
          font-size: 24px;
          margin-left: -4px;
          margin-top: -1px;
          display: block;
          color: #fff;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        #ui-datepicker-div .ui-datepicker-header .ui-corner-all .ui-icon.ui-icon-circle-triangle-w:before {
          content: "\e902"; }
        #ui-datepicker-div .ui-datepicker-header .ui-corner-all .ui-icon.ui-icon-circle-triangle-e:before {
          content: "\e904"; }
      #ui-datepicker-div .ui-datepicker-header .ui-corner-all.ui-state-hover {
        border: none;
        background: transparent; }
        #ui-datepicker-div .ui-datepicker-header .ui-corner-all.ui-state-hover .ui-icon {
          background-color: #fff; }
          #ui-datepicker-div .ui-datepicker-header .ui-corner-all.ui-state-hover .ui-icon:before {
            color: #4d898e; }
  #ui-datepicker-div .ui-datepicker-calendar th {
    font-family: "FaktPro-Normal", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #262626; }
  #ui-datepicker-div .ui-datepicker-calendar td:first-child {
    padding-left: 0; }
  #ui-datepicker-div .ui-datepicker-calendar td a {
    -webkit-transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1), color 300ms cubic-bezier(0.165, 0.84, 0.44, 1), border-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1), color 300ms cubic-bezier(0.165, 0.84, 0.44, 1), border-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1), color 300ms cubic-bezier(0.165, 0.84, 0.44, 1), border-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: "FaktPro-Normal", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-top: 0.35em;
    color: #262626;
    background: transparent;
    background-image: none; }
    #ui-datepicker-div .ui-datepicker-calendar td a.ui-state-highlight {
      border-color: #4d898e;
      background-color: #4d898e;
      color: #fff; }
    #ui-datepicker-div .ui-datepicker-calendar td a:hover {
      border-color: #f66d70;
      background-color: #f66d70;
      color: #fff; }

/*# sourceMappingURL=ui-datepicker.css.map */
